.Button{
    background:rgb(30, 30, 205);
    border-radius: 0.25rem;
    color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    
}